In [ ]:
import warnings
warnings.filterwarnings('ignore')

# [1] Load Data From Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!unzip /content/drive/MyDrive/booksData/archive.zip

Archive:  /content/drive/MyDrive/booksData/archive.zip
  inflating: Books.csv
  inflating: Ratings.csv
  inflating: Users.csv

# [2] Read Data to Pandas Dataframes

## [2.1] Read Data

In [ ]:
import pandas as pd

books = pd.read_csv('Books.csv')
ratings = pd.read_csv('Ratings.csv')
users = pd.read_csv('Users.csv')

## [2.2] Take a closer look to Data

* dataframes shapes

In [ ]:
books.shape

(271360, 8)

In [ ]:
ratings.shape

(1149780, 3)

In [ ]:
users.shape

(278858, 3)

* dataframes heads

In [ ]:
books.head(10)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
5,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...
6,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000,Berkley Publishing Group,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...
7,0671870432,PLEADING GUILTY,Scott Turow,1993,Audioworks,http://images.amazon.com/images/P/0671870432.0...,http://images.amazon.com/images/P/0671870432.0...,http://images.amazon.com/images/P/0671870432.0...
8,0679425608,Under the Black Flag: The Romance and the Real...,David Cordingly,1996,Random House,http://images.amazon.com/images/P/0679425608.0...,http://images.amazon.com/images/P/0679425608.0...,http://images.amazon.com/images/P/0679425608.0...
9,074322678X,Where You'll Find Me: And Other Stories,Ann Beattie,2002,Scribner,http://images.amazon.com/images/P/074322678X.0...,http://images.amazon.com/images/P/074322678X.0...,http://images.amazon.com/images/P/074322678X.0...

In [ ]:
ratings.head(10)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6
5   276733  2080674722            0
6   276736  3257224281            8
7   276737  0600570967            6
8   276744  038550120X            7
9   276745   342310538           10

In [ ]:
users.head(10)

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN
5        6       santa monica, california, usa  61.0
6        7                 washington, dc, usa   NaN
7        8            timmins, ontario, canada   NaN
8        9          germantown, tennessee, usa   NaN
9       10          albacete, wisconsin, spain  26.0

* Book Rating Range Checking

In [ ]:
st = set()
for i in range(ratings.shape[0]):
  st.update([ratings.iloc[i]['Book-Rating']])
print(st)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

* a closer look to book's year of publication

In [ ]:
L = []
for i in range(books.shape[0]):
  if (type(books.iloc[i]['Year-Of-Publication']) is int):
    L.append(books.iloc[i]['Year-Of-Publication'])
  if (type(books.iloc[i]['Year-Of-Publication']) is str and books.iloc[i]['Year-Of-Publication'].isnumeric()):
    L.append(int(books.iloc[i]['Year-Of-Publication']))
L.sort()

In [ ]:
set(L)

{0,
 1376,
 1378,
 1806,
 1897,
 1900,
 1901,
 1902,
 1904,
 1906,
 1908,
 1909,
 1910,
 1911,
 1914,
 1917,
 1919,
 1920,
 1921,
 1922,
 1923,
 1924,
 1925,
 1926,
 1927,
 1928,
 1929,
 1930,
 1931,
 1932,
 1933,
 1934,
 1935,
 1936,
 1937,
 1938,
 1939,
 1940,
 1941,
 1942,
 1943,
 1944,
 1945,
 1946,
 1947,
 1948,
 1949,
 1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2008,
 2010,
 2011,
 2012,
 2020,
 2021,
 2024,
 2026,
 2030,
 2037,
 2038,
 2050}

## [2.3] Data Train-Test Splitting

## we will split **Ratings** data to train and test by sorting it depending on book's year of publication.

* Year of publication in the dataset is stored in two differnt ways: '1999' and 1999. Here we are trying to make them the same

In [ ]:
for i in range(books.shape[0]):
  if (type(books.iloc[i]['Year-Of-Publication']) is str and books.iloc[i]['Year-Of-Publication'].isnumeric()):
    books.iloc[i]['Year-Of-Publication']=int(books.iloc[i]['Year-Of-Publication'])

* if the year of publication is not **NUMERIC** assign them constant value like 1400.

In [ ]:
for i in range(books.shape[0]):
  if (type(books.iloc[i]['Year-Of-Publication']) is str):
    books.iloc[i]['Year-Of-Publication']=1400

* Removing all ratings which its ISBN is not in books ISBNs

In [ ]:
x = pd.merge(ratings,books,how="left",on="ISBN")
IsbnToDrop = x[x['Book-Title'].isna()]['ISBN'].values
ratings = ratings.drop(ratings[ratings['ISBN'].isin(IsbnToDrop)].index)
len(ratings)

1031136

* splitting on some thresold

In [ ]:
year_threshold = 2002
ISBN = books[books['Year-Of-Publication'] <= year_threshold]['ISBN'].values
train = ratings[ratings['ISBN'].isin(ISBN)]
test = ratings[~ratings['ISBN'].isin(ISBN)]
print('training percentage: '+str(train.shape[0]/ratings.shape[0]))
print('training samples: '+str(train.shape[0]))
print('testing percentage: '+str(test.shape[0]/ratings.shape[0]))
print('testing samples: '+str(test.shape[0]))

training percentage: 0.9042667504577476
training samples: 932422
testing percentage: 0.09573324954225243
testing samples: 98714

# [3] Popularity Recommender

# [3.1] calculate recommendations depending on calculated rating

* Aggregate ratings table on ISBN and calculate mean & count

In [ ]:
def Aggregate_on_ISBN():
  populartiy = ratings.groupby('ISBN').agg({'Book-Rating': ['mean', 'count']}).reset_index()
  populartiy.columns = ['ISBN', 'ratings_mean', 'ratings_count']
  populartiy.sort_values(by='ratings_mean', ascending=False)
  return populartiy

calculate predicted Rating using the formula: (v/(v+m) * R) + (m/(m+v) * C) where:

*  v is the number of ratings for the book;

*  m is the minimum rating to say this book is good

*  R is the average rating of the book

*  C is the mean ratings across the whole books

In [ ]:
def weighted_rating(x, m, C):
  v = x['ratings_count']
  R = x['ratings_mean']
  return (v/(v+m) * R) + (m/(m+v) * C)

* calculate predicted ratings for books and sort them in descending order

In [ ]:
def calculate_Popularity_Rating():
  pop = Aggregate_on_ISBN()
  C = pop['ratings_mean'].mean()
  pop['predicted_rating'] = pop.apply(lambda x: weighted_rating(x, 8, C), axis=1)
  pop = pop[pop['ISBN'].isin(test['ISBN'])]
  ret = pop.sort_values('predicted_rating', ascending = False)
  return ret
Pop_rec = calculate_Popularity_Rating()

In [ ]:
def Popularity_Recommendations():
  return Pop_rec

# [3.2] the final popularity recommender recommendations

In [ ]:
Pop_rec.head(10)

              ISBN  ratings_mean  ratings_count  predicted_rating
236927  1844262553      7.962963             54          7.307658
247476  2205054252      9.250000              8          6.067177
78344   0399151451      7.000000             20          5.824101
235493  1591820073      8.222222              9          5.710284
5201    0060278250      8.857143              7          5.671655
46046   0345458915      6.333333             27          5.544995
84467   043935806X      5.571856            334          5.508991
235569  1591822580      9.000000              6          5.505345
112803  0525947752      6.916667             12          5.303741
236529  1841492086      8.000000              7          5.271655

# [4] Content-Based Recommender

# [4.1] a close look on books dataset

In [ ]:
len(books['Publisher'].unique())

16808

In [ ]:
len(books['Book-Author'].unique())

102024

# [4.2] First Content Based Recommender:  **Book Author Recommneder**

* Preparing Data

In [ ]:
train_author = pd.merge(train, books, how="left", on="ISBN")
test_author = pd.merge(test, books, how="left", on="ISBN")
train_author.head(5)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,276726,0155061224,5,Rites of Passage,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
3,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...
4,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...

* Calculating **Predicted Rating** on train dataset for each **author**.
  **Predicted Rating** is a combination between **ratings mean** for a specific author and **ratings count** for this author

In [ ]:
def normalize(value, old_max, old_min, new_max=10.0, new_min=0.0):
  old_range = (old_max - old_min)  
  new_range = (new_max - new_min)  
  return (((value - old_min) * new_range) / old_range) + new_min

In [ ]:
def Book_Author_Rating_Calculation():
  res = train_author.groupby(['User-ID','Book-Author']).agg({'Book-Rating': ['mean', 'count']}).reset_index()
  res.columns = ['User-ID', 'Book-Author' , 'ratings_mean', 'ratings_count']
  res = res.sort_values(by=[ 'User-ID', 'ratings_count'], ascending=[True,False])
  res2 = res.groupby('User-ID').agg({'ratings_count':['max','min']}).reset_index()
  res2.columns = ['User-ID','max','min']
  res = pd.merge(res, res2, how="left", on="User-ID")
  res['ratings_count'] = res[['max','min','ratings_count']].apply(lambda x: normalize(x['ratings_count'],x['max']+1,x['min']-1) , axis=1)
  res['predicted_rating'] = (res['ratings_count'] + res['ratings_mean']*2)/3
  res = res.sort_values(by=[ 'User-ID','predicted_rating', 'Book-Author' ,], ascending=[True,False,True])
  return res
Book_Auth_Rec = Book_Author_Rating_Calculation()

* author-based Recommender: for a specific user we extract favourite authors from above calculations and try to find books which is written by favourite authors in test dataset

In [ ]:
def Book_Author_Recommendations(userId):
  Best_Authors = Book_Auth_Rec[Book_Auth_Rec['User-ID'] == userId][['Book-Author','predicted_rating']]
  rec_books = pd.merge(Best_Authors, test_author, how="left", on="Book-Author")
  rec_books = rec_books.dropna()
  return rec_books[['ISBN','predicted_rating']]

# [4.3] Second Content Based Recommender: **Publisher Recommender**

* Preparing Data

In [ ]:
train_publisher = pd.merge(train, books, how="left", on="ISBN")
test_publisher = pd.merge(test, books, how="left", on="ISBN")
train_publisher.head(5)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,276726,0155061224,5,Rites of Passage,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
3,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...
4,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...

* Calculating **Predicted Rating** on train dataset for each **publisher**.
  **Predicted Rating** is a combination between **ratings mean** for a specific publisher and **ratings count** for this publisher

In [ ]:
def Publisher_Rating_Calculation():
  res = train_publisher.groupby(['User-ID','Publisher']).agg({'Book-Rating': ['mean', 'count']}).reset_index()
  res.columns = ['User-ID', 'Publisher' , 'ratings_mean', 'ratings_count']
  res = res.sort_values(by=[ 'User-ID', 'ratings_count'], ascending=[True,False])
  res2 = res.groupby('User-ID').agg({'ratings_count':['max','min']}).reset_index()
  res2.columns = ['User-ID','max','min']
  res = pd.merge(res, res2, how="left", on="User-ID")
  res['ratings_count'] = res[['max','min','ratings_count']].apply(lambda x: normalize(x['ratings_count'],x['max']+1,x['min']-1) , axis=1)
  res['predicted_rating'] = (res['ratings_count'] + res['ratings_mean']*2)/3
  res = res.sort_values(by=[ 'User-ID','predicted_rating', 'Publisher' ,], ascending=[True,False,True])
  return res
Publish_Rec = Publisher_Rating_Calculation()

* Publisher-based Recommender: for a specific user we extract favourite publishers from above calculations and try to find books which is published by favourite publishers in test dataset

In [ ]:
def Publisher_Recommendations(userId):
  Best_Publishers = Publish_Rec[Publish_Rec['User-ID'] == userId][['Publisher','predicted_rating']]
  rec_books = pd.merge(Best_Publishers, test_publisher, how="left", on="Publisher")
  rec_books = rec_books.dropna()
  return rec_books[['ISBN','predicted_rating']]

# [5] Collaborative Recommender

* **The total size of ratings data is too large so pivot method could not run and end up with an error because of data size.** here we only apply on test data which we'll recommend books from.

In [ ]:
users_items_pivot_matrix_df = test.pivot(index='User-ID', columns='ISBN', values='Book-Rating').fillna(0)
users_items_pivot_matrix_df.head(10)

ISBN,0002005050,0002005395,000200545X,0002005557,0002006502,0002006588,0002200309,0002201402,0006391893,0006392466,...,9871138121,9871138148,9872003912,9872039801,9875021245,9879397274,9971692724,9986162823,B000092Q0A,B00009MBYK
User-ID,,,,,,,,,,,,,,,,,,,,,
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
70,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
73,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
87,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
114,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
users_items_pivot_matrix = users_items_pivot_matrix_df.values
users_items_pivot_matrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
from scipy.sparse.linalg import svds

#The number of factors to factor the user-item matrix.
NUMBER_OF_FACTORS_MF = 15
#Performs matrix factorization of the original user item matrix
#U, sigma, Vt = svds(users_items_pivot_matrix, k = NUMBER_OF_FACTORS_MF)
U, sigma, Vt = svds(users_items_pivot_matrix, k = NUMBER_OF_FACTORS_MF)

In [ ]:
import numpy as np
sigma = np.diag(sigma)

In [ ]:
sigma.shape

(15, 15)

In [ ]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) 
all_user_predicted_ratings

array([[-1.12149281e-18, -6.53972363e-35,  0.00000000e+00, ...,
        -6.24690415e-35,  5.95685260e-22, -2.44902945e-20],
       [-4.20405288e-22, -3.59875296e-37,  0.00000000e+00, ...,
        -1.14170381e-37,  1.75577627e-24, -4.42556152e-23],
       [ 3.78138002e-18,  1.44231184e-35,  0.00000000e+00, ...,
         1.19456524e-34,  1.21696509e-21,  4.16963395e-22],
       ...,
       [-3.79783186e-18, -2.04411721e-35,  0.00000000e+00, ...,
        -1.31641151e-34, -7.11274192e-22, -2.15384520e-20],
       [-2.00307838e-03, -2.86919075e-20,  0.00000000e+00, ...,
         2.23358714e-20, -3.89099095e-05,  2.90493601e-04],
       [ 1.50297340e-04, -9.84276074e-21,  0.00000000e+00, ...,
        -2.63242447e-22,  4.89043372e-07,  8.20030525e-06]])

In [ ]:
preds_df = pd.DataFrame(all_user_predicted_ratings, columns=users_items_pivot_matrix_df.columns, index=users_items_pivot_matrix_df.index)
preds_df.head(10)

ISBN,0002005050,0002005395,000200545X,0002005557,0002006502,0002006588,0002200309,0002201402,0006391893,0006392466,...,9871138121,9871138148,9872003912,9872039801,9875021245,9879397274,9971692724,9986162823,B000092Q0A,B00009MBYK
User-ID,,,,,,,,,,,,,,,,,,,,,
8,-1.121493e-18,-6.539724e-35,0.0,-6.500580e-20,0.0,-1.440460e-20,-2.100711e-21,0.0,0.0,1.399865e-21,...,0.0,-5.750622e-19,0.0,0.0,0.0,-1.022086e-18,-2.163969e-20,-6.246904e-35,5.956853e-22,-2.449029e-20
12,-4.204053e-22,-3.598753e-37,0.0,1.259942e-22,0.0,3.099476e-22,8.306660e-24,0.0,0.0,-2.953583e-24,...,0.0,1.572642e-21,0.0,0.0,0.0,1.131139e-21,2.952972e-23,-1.141704e-37,1.755776e-24,-4.425562e-23
14,3.781380e-18,1.442312e-35,0.0,2.077561e-19,0.0,1.189721e-19,1.137889e-20,0.0,0.0,-4.801556e-21,...,0.0,2.796707e-18,0.0,0.0,0.0,3.590396e-18,8.962826e-20,1.194565e-34,1.216965e-21,4.169634e-22
19,2.071025e-05,-7.308774e-21,0.0,-5.426268e-05,0.0,-8.542486e-06,-4.421249e-09,0.0,0.0,6.126607e-06,...,0.0,1.490683e-04,0.0,0.0,0.0,8.524668e-03,-4.929251e-06,-1.946621e-21,1.087738e-06,7.474633e-06
70,-5.098134e-20,-4.237489e-35,0.0,2.116567e-20,0.0,3.773402e-20,8.870033e-22,0.0,0.0,-5.513563e-22,...,0.0,1.617337e-19,0.0,0.0,0.0,8.516503e-20,3.963709e-21,-1.297032e-35,7.464908e-23,-6.656123e-21
73,1.049878e-04,1.761674e-22,0.0,2.190751e-05,0.0,1.621654e-05,4.110216e-07,0.0,0.0,-6.074211e-07,...,0.0,8.075988e-05,0.0,0.0,0.0,-3.139304e-04,4.301352e-06,4.421622e-22,-1.705962e-07,-8.624581e-07
75,-3.790565e-18,-2.141221e-35,0.0,-2.119323e-19,0.0,-1.138360e-19,-1.169712e-20,0.0,0.0,5.592117e-21,...,0.0,-2.833094e-18,0.0,0.0,0.0,-1.468333e-18,-8.803265e-20,-1.145208e-34,-2.611925e-21,4.863469e-21
87,-8.357489e-20,1.007259e-34,0.0,-8.091504e-20,0.0,-1.198732e-19,-3.660210e-21,0.0,0.0,2.209886e-21,...,0.0,-7.046889e-19,0.0,0.0,0.0,-4.652880e-19,-1.469877e-20,2.210029e-35,-1.679728e-22,-2.814179e-21
99,-1.240646e-18,-7.255668e-36,0.0,-9.388640e-20,0.0,-6.848487e-20,-3.609065e-21,0.0,0.0,2.203487e-21,...,0.0,-9.094970e-19,0.0,0.0,0.0,-1.193284e-18,-3.752943e-20,-4.432702e-35,3.886103e-22,-8.580922e-21
114,-2.057019e-03,-1.243477e-19,0.0,2.151941e-03,0.0,1.548121e-03,1.465722e-05,0.0,0.0,-4.448234e-05,...,0.0,3.888138e-04,0.0,0.0,0.0,4.215143e-03,4.216179e-05,-2.603561e-20,-4.086326e-05,1.850276e-04

In [ ]:
def Collaborative_Recommendations(userId):
  sorted_user_predictions = preds_df.loc[userId].sort_values(ascending=False)
  recommendations = {'ISBN': sorted_user_predictions.index, 'predicted_rating': sorted_user_predictions.values}
  recommendations_df = pd.DataFrame(recommendations)
  return recommendations_df

# [6] Hybrid Recommender

In [ ]:
def Hybrid_Recommender(userId):
  Rec1 = Book_Author_Recommendations(userId)
  Rec2 = Collaborative_Recommendations(userId)
  mx = Rec2['predicted_rating'].max()
  mn = Rec2['predicted_rating'].min()
  Rec2['predicted_rating'] = Rec2['predicted_rating'].apply(lambda x: normalize(x,mx,mn))
  Rec = pd.merge(Rec1,Rec2,how="outer",on="ISBN").fillna(0)
  Rec['predicted_rating'] = (Rec['predicted_rating_x']+Rec['predicted_rating_y'])/2
  Rec = Rec.drop(['predicted_rating_x','predicted_rating_y'],axis=1)
  return Rec

# [7] General Recommender
this is a general recommender which combine all recommenders in one place

In [ ]:
def get_Recommendations(ModelNumber,userId):
  if ModelNumber == 1:
    return Popularity_Recommendations()
  elif ModelNumber == 2:
    return Book_Author_Recommendations(userId)
  elif ModelNumber == 3:
    return Publisher_Recommendations(userId)
  elif ModelNumber == 4:
    return Collaborative_Recommendations(userId)
  elif ModelNumber == 5:
    return Hybrid_Recommender(userId)

# [8] Evaluation & Assesment

# [8.1] Evaluation Function

* Getting from test data (unseen data) the actual book preferences for a specific user

In [ ]:
def sort_and_threshold_test_set(thre = 8):
  ret = test[(test['Book-Rating'] >= thre)].sort_values(by='Book-Rating', ascending=False)
  return ret
sorted_thresholded_test_set = sort_and_threshold_test_set()

In [ ]:
def actual_favourite_for_user(userId):
  favorites = sorted_thresholded_test_set[(sorted_thresholded_test_set['User-ID'] == userId)]['ISBN']
  return favorites

* Getting recommendation thresholded on some predicted rating threshold

In [ ]:
def get_top_recommended_N(N,recommended):
  #rec = recommended[(recommended['predicted_rating'] >= thre)].sort_values(by='predicted_rating', ascending=False)
  return recommended.head(N)

* Evalure the recommendations for a specific user by calculating some evaluation metrices like: precision, recall, true relevant etc...

In [ ]:
def Evaluate_for_user(recommended,userId):
  fav = actual_favourite_for_user(userId)
  rec = get_top_recommended_N(10,recommended) 

  top_5_recommended = rec.head(5)
  top_10_recommended = rec.head(10)

  true_relevent = rec[rec['ISBN'].isin(fav)].shape[0]

  hit_at_5 = top_5_recommended[top_5_recommended['ISBN'].isin(fav)].shape[0]
  hit_at_10 = top_10_recommended[top_10_recommended['ISBN'].isin(fav)].shape[0]

  precision_at_5 = hit_at_5 / top_5_recommended.shape[0] if top_5_recommended.shape[0] != 0 else 1
  recall_at_5 = hit_at_5 / true_relevent if true_relevent != 0 else 1

  precision_at_10 = hit_at_10 / top_10_recommended.shape[0] if top_10_recommended.shape[0] != 0 else 1
  recall_at_10 = hit_at_10 / true_relevent if true_relevent != 0 else 1

  result = {'hits@5_count':hit_at_5, 
            'hits@10_count':hit_at_10,
            'recommended@5_count':top_5_recommended.shape[0], 
            'recommended@10_count':top_10_recommended.shape[0],  
            'relevents': true_relevent,
            'recall@5': recall_at_5,
            'recall@10': recall_at_10,
            'precision@5': precision_at_5,
            'precision@10': precision_at_10}

  return result

* Evaluate a model on all users

In [ ]:
def Debuuger(processed,total,prints):
  if processed/total >=0.25 and prints == 0:
    print('25% processed')
    prints = 1
  elif processed/total >=0.5 and prints == 1:
    print('50% processed')
    prints = 2
  elif processed/total >=0.75 and prints == 2:
    print('75% processed')
    prints = 3
  return prints

In [ ]:
def Evaluate(ModelName,ModelNumber):
  details = []
  i = 0
  L = list(set(test['User-ID'].values))
  print('Evaluating model on '+str(len(L))+' users')
  prints = 0
  for id in L:
    # DEBUG_START #
    # i+=1
    # print(i)
    # if i==500:
    #   break
    # DEBEG_END #
    i=i+1
    prints = Debuuger(i,len(L),prints)
    recommendations = get_Recommendations(ModelNumber,id)
    if len(recommendations) ==0:
      continue
    result = Evaluate_for_user(recommendations,id)
    result['user_id'] = id
    details.append(result)
    
    
  detailed_results_df = pd.DataFrame(details) \
                          .sort_values('hits@5_count', ascending=False)
      
  global_recall_at_5 = detailed_results_df['hits@5_count'].sum() / float(detailed_results_df['relevents'].sum())
  global_recall_at_10 = detailed_results_df['hits@10_count'].sum() / float(detailed_results_df['relevents'].sum())
  
  global_precision_at_5 = detailed_results_df['hits@5_count'].sum() / float(detailed_results_df['recommended@5_count'].sum())
  global_precision_at_10 = detailed_results_df['hits@10_count'].sum() / float(detailed_results_df['recommended@10_count'].sum())

  global_metrics = {'modelName': ModelName,
                    'recall@5': global_recall_at_5,
                    'recall@10': global_recall_at_10,
                    'precision@5': global_precision_at_5,
                    'precision@10': global_precision_at_10}    
  

  return global_metrics, detailed_results_df

# [8.2] Evaluate Popularity Recommender

In [ ]:
global_metrics ,details = Evaluate('Popularity',1)
print('\nGlobal metrics:\n%s' % global_metrics)
details.head(10)

Evaluating model on 20090 users
25% processed
50% processed
75% processed

Global metrics:
{'modelName': 'Popularity', 'recall@5': 0.2743055555555556, 'recall@10': 1.0, 'precision@5': 0.0007864609258337481, 'precision@10': 0.0014335490293678446}

,hits@5_count,hits@10_count,recommended@5_count,recommended@10_count,relevents,recall@5,recall@10,precision@5,precision@10,user_id
494,1,1,5,10,1,1.0,1.0,0.2,0.1,2345
16180,1,1,5,10,1,1.0,1.0,0.2,0.1,235718
8925,1,1,5,10,1,1.0,1.0,0.2,0.1,184885
11762,1,1,5,10,1,1.0,1.0,0.2,0.1,74164
1960,1,1,5,10,1,1.0,1.0,0.2,0.1,270950
4652,1,1,5,10,1,1.0,1.0,0.2,0.1,155349
16977,1,1,5,10,1,1.0,1.0,0.2,0.1,109691
9662,1,1,5,10,1,1.0,1.0,0.2,0.1,58969
8840,1,1,5,10,1,1.0,1.0,0.2,0.1,184358
1355,1,1,5,10,1,1.0,1.0,0.2,0.1,6142

# [8.3] Evaluate Book Author Recommender

In [ ]:
global_metrics ,details = Evaluate('content based - Book Author',2)
print('\nGlobal metrics:\n%s' % global_metrics)
details.head(10)

Evaluating model on 20090 users
25% processed
50% processed
75% processed

Global metrics:
{'modelName': 'content based - Book Author', 'recall@5': 0.5134932533733133, 'recall@10': 1.0, 'precision@5': 0.020784028157048363, 'precision@10': 0.02066454960886066}

,hits@5_count,hits@10_count,recommended@5_count,recommended@10_count,relevents,recall@5,recall@10,precision@5,precision@10,user_id
3122,5,8,5,10,8,0.625000,1.0,1.0,0.8,155376
3246,5,10,5,10,10,0.500000,1.0,1.0,1.0,25604
7821,5,8,5,10,8,0.625000,1.0,1.0,0.8,73622
5713,5,7,5,10,7,0.714286,1.0,1.0,0.7,181995
2029,5,10,5,10,10,0.500000,1.0,1.0,1.0,14049
7618,5,9,5,10,9,0.555556,1.0,1.0,0.9,71183
7166,5,10,5,10,10,0.500000,1.0,1.0,1.0,66443
7180,5,9,5,10,9,0.555556,1.0,1.0,0.9,66591
4411,5,8,5,10,8,0.625000,1.0,1.0,0.8,37584
7227,5,9,5,10,9,0.555556,1.0,1.0,0.9,198216

# [8.4] Evaluate Publisher Recommender

In [ ]:
global_metrics ,details = Evaluate('content based - Publisher',3)
print('\nGlobal metrics:\n%s' % global_metrics)
details.head(10)

Evaluating model on 20090 users
25% processed
50% processed
75% processed

Global metrics:
{'modelName': 'content based - Publisher', 'recall@5': 0.47706422018348627, 'recall@10': 1.0, 'precision@5': 0.0058463916801349165, 'precision@10': 0.006162326419561146}

,hits@5_count,hits@10_count,recommended@5_count,recommended@10_count,relevents,recall@5,recall@10,precision@5,precision@10,user_id
14048,5,10,5,10,10,0.500000,1.0,1.0,1.0,259057
8373,5,8,5,10,8,0.625000,1.0,1.0,0.8,74215
3966,5,10,5,10,10,0.500000,1.0,1.0,1.0,30770
2468,5,10,5,10,10,0.500000,1.0,1.0,1.0,278243
2664,5,10,5,10,10,0.500000,1.0,1.0,1.0,148934
13054,5,6,5,10,6,0.833333,1.0,1.0,0.6,118533
7014,5,10,5,10,10,0.500000,1.0,1.0,1.0,191272
4150,5,10,5,10,10,0.500000,1.0,1.0,1.0,32188
4969,4,6,5,10,6,0.666667,1.0,0.8,0.6,171011
9582,4,6,5,10,6,0.666667,1.0,0.8,0.6,85993

# [8.5] Evaluate Collaborative Recommender

In [ ]:
global_metrics ,details = Evaluate('Collaborative',4)
print('\nGlobal metrics:\n%s' % global_metrics)
details.head(10)

Evaluating model on 20090 users
25% processed
50% processed
75% processed

Global metrics:
{'modelName': 'Collaborative', 'recall@5': 0.762929538354738, 'recall@10': 1.0, 'precision@5': 0.021881533101045295, 'precision@10': 0.014340467894474863}

,hits@5_count,hits@10_count,recommended@5_count,recommended@10_count,relevents,recall@5,recall@10,precision@5,precision@10,user_id
3610,5,8,5,10,8,0.625000,1.0,1.0,0.8,16795
16084,5,10,5,10,10,0.500000,1.0,1.0,1.0,235105
15273,5,10,5,10,10,0.500000,1.0,1.0,1.0,98391
777,5,8,5,10,8,0.625000,1.0,1.0,0.8,265889
15014,5,9,5,10,9,0.555556,1.0,1.0,0.9,227520
2571,5,10,5,10,10,0.500000,1.0,1.0,1.0,11676
4409,5,10,5,10,10,0.500000,1.0,1.0,1.0,153662
3047,5,6,5,10,6,0.833333,1.0,1.0,0.6,276165
17943,4,5,5,10,5,0.800000,1.0,0.8,0.5,247447
10464,4,4,5,10,4,1.000000,1.0,0.8,0.4,195904

# [8.5] Evaluate Hybrid Recommender: Collaborative + Book Author

In [ ]:
global_metrics ,details = Evaluate('Hybrid',5)
print('\nGlobal metrics:\n%s' % global_metrics)
details.head(10)

Evaluating model on 20090 users
25% processed
50% processed
75% processed

Global metrics:
{'modelName': 'Hybrid', 'recall@5': 0.5373725934314836, 'recall@10': 1.0, 'precision@5': 0.01889497262319562, 'precision@10': 0.017580886012941763}

,hits@5_count,hits@10_count,recommended@5_count,recommended@10_count,relevents,recall@5,recall@10,precision@5,precision@10,user_id
9474,5,10,5,10,10,0.5,1.0,1.0,1.0,188713
18908,5,10,5,10,10,0.5,1.0,1.0,1.0,122793
7158,5,10,5,10,10,0.5,1.0,1.0,1.0,172676
773,5,10,5,10,10,0.5,1.0,1.0,1.0,134797
12938,5,10,5,10,10,0.5,1.0,1.0,1.0,213256
14788,5,10,5,10,10,0.5,1.0,1.0,1.0,226006
4657,5,10,5,10,10,0.5,1.0,1.0,1.0,155376
14053,5,10,5,10,10,0.5,1.0,1.0,1.0,90232
17673,5,10,5,10,10,0.5,1.0,1.0,1.0,114581
5518,5,10,5,10,10,0.5,1.0,1.0,1.0,30667